line.dragline {
  stroke: #ccc;
  stroke-width: 2px;
}

line.dragline.hidden {
  visibility:hidden;
}


line.clicksurface {
  visibility:hidden;
  stroke-width: 10px;
  pointer-events: all;
}

line.visiblelink {
  stroke: gray;
  stroke-width: 3px;
  pointer-events: none;
}

line.visiblelink.selected {
  stroke: red;
  stroke-width: 4px;
  outline:solid red 0.5px;
}

circle {
  fill: gray;
  stroke-width: 1.5px;
}

circle.selected {
  fill: red;
  outline:solid red 0.5px;
}


text {
  font-family: sans-serif;
  font-size: 10px;
}


textarea{
min-height:300px;
}

g{
pointer-events: all;	
}
